@use "./variables" as var;

.main{
    
    &__title{
        text-align: center;
        margin-bottom: 30px;
    }
    
    &__interchange{
        display: grid;
        grid-template-columns: 5fr 1fr 5fr;
        select{
            background-color: transparent;
            border: 1px solid var.$border-color;
            border-radius: 8px;
            font-size: 1rem;
            color: var.$cyan-color;
            padding: 10px 18px;
            outline: none;
        }

        &--btn{
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    &__textareas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        padding-bottom: 28px;
        border-bottom: 1px solid var.$border-color;

        textarea{
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            resize: none;
            overflow: auto hidden;
            padding: 1rem;
            color: var.$text-color;
            font-size: 28px;
            line-height: 36px;
            border-radius: 8px;
            margin-top: 10px;
            height: 180px;
        }
        textarea:focus{
            outline: none;
        }
        textarea:first-child{
            background-color: transparent;
        }
        textarea:last-child{
            background-color: #303134;
        }
    }
}