@use "./variables" as var;

.main{
    
    &__title{
        text-align: center;
        margin-bottom: 30px;
    }
    
    &__interchange{
        display: grid;
        grid-template-columns: 5fr 1fr 5fr;
        select{
            background-color: transparent;
            border: 1px solid var.$border-color;
            border-radius: 8px;
            font-size: 1rem;
            color: var.$cyan-color;
            padding: 10px 18px;
            outline: none;

            option{
                background-color: var.$background-color;
                color: var.$text-color;
                font-size: 1rem;
            }
        }

        &--btn{
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }
        &--btn:disabled{
            opacity: .5;
        }
    }

    &__textareas{
        $textarea-padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        padding-bottom: 28px;
        border-bottom: 1px solid var.$border-color;

        &-clipboard{
            position: relative;
            button{
                position: absolute;
                left: $textarea-padding;
                bottom: $textarea-padding;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: transparent;
        
                svg{
                    fill: var.$icons-color;
                }
                svg:hover{
                    fill: lighten(var.$icons-color, 50%) ;
                }
            }
            textarea{
                background-color: #303134;
            }
        }
        textarea{
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            resize: none;
            overflow: auto hidden;
            padding: $textarea-padding;
            padding-bottom: 5rem;
            color: var.$text-color;
            font-size: 28px;
            line-height: 36px;
            border-radius: 8px;
            margin-top: 10px;
            min-height: 250px;
            overflow-y: visible;
        }
        textarea:focus{
            outline: none;
        }
        > textarea{
            background-color: transparent;
        }



    }
}